programs:
- name: Test Program 1
  script: test_program_1.py
  enabled: false
  comment: Hello World 3
  args:
  - --port
  - '3'
  environment:
  - TEST=Hallo 3
- name: Upload 1
  script: app.py
  enabled: false
  uploaded: true
  comment: Test 2
  venv: /Users/vogler/Workspace/python-process-manager/uploaded_programs/Upload_1/.venv
  cwd: /Users/vogler/Workspace/python-process-manager/uploaded_programs/Upload_1
  args:
  - --port
  - '2'
  environment:
  - TEST=Test 2
